@charset "UTF-8";
:link, :visited {
  text-decoration: none; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0; }

a img, :link img, :visited img {
  border: none; }

address {
  font-style: normal; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .container-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .text-no-flex {
    max-width: 490px;
    margin: 0 auto;
  }

  .container-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .container-flex .right {
    margin-left: 20px;
    text-align: left;
    -webkit-flex-basis: 800px;
    -ms-flex-preferred-size: 800px;
    flex-basis: 800px;
  }

  .container-flex .right h3 {
    text-transform: uppercase;
  }

  .container-flex .right h3::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 10px 0;
    background-color: #39c9da;
  }

  .container-flex .right .blue-buttom {
    text-align: center;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .text-no-flex {
    max-width: 490px;
    margin: 0 auto;
  }

  .container-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 100%;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #fff; }

h1 {
  color: #39c9da; }

h3 {
  font-size: 20px;
  color: #504f50;
  color-text-transform: uppercase;
}

h2 {
  font-size: 33px;
  color: #fff; }

p {
  font-size: 14px;
  color: #a8a8a8; }

.blue-buttom {
  width: 201px;
  height: 55px;
  background-color: #39c9da;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-radius-text-transform: uppercase;
  color: #fff; }
  .blue-buttom:hover {
    background-color: #fff #39c9da;
    color: #39c9da;
    -webkit-border-radius: 3px;
            border-radius: 3px; }

.grey-buttom {
  width: 129px;
  height: 35px;
  background-color: #4b4a4b;
  color: white;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.grey-buttom:hover {
  background-color: white;
  color: #323030;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.wrapper {
  margin: 0 20px;
  position: relative;
}

.bg-wall header, .bg-wall .hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-wall {
  background: url(../img/bgh.png) no-repeat top center;
}

@media (min-width: 992px) {
  .wrapper {
    margin: 0 60px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    margin: 0 120px;
  }
}

.menu1 {
  margin-top: 10px;
}

.menu1 nav ul li {
  text-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu1 nav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}

.menu ul {
  margin: 0;
  list-style: none;
  display: none;
}

.menu .title {
  font-size: 22px;
  cursor: pointer;
  color: white;
}

.menu .title::before {
  content: '▶ ';
  font-size: 80%;
  color: #39c9da;
}

.menu.open {
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(220, 220, 220, 0.5);
  width: 280px;
  height: auto;
}

.menu.open .title::before {
  content: '▼ ';
  color: #39c9da;
  text-align: center;
}

.menu.open ul {
  display: block;
}

@media (min-width: 768px) {
  .menu ul {
    list-style: none;
    display: block;
    line-height: 2.2;
  }

  .menu ul li {
    display: inline-block;
  }

  .menu .title {
    display: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }

  .menu1 li {
    display: inline-block;
  }

  .menu1 li a {
    padding-left: 10px;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .menu1 nav ul li {
    display: inline-block;
  }

  .menu1 nav ul li a {
    padding-left: 10px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .menu1 nav ul li {
    display: inline-block;
  }

  .menu1 nav ul li a {
    padding-left: 40px;
    font-size: 15px;
  }
}

.bg-wall {
  position: relative;
  height: 440px;
}

.bg-wall header {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.bg-wall header .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bg-wall header .logo h1 a {
  font-size: 30px;
  color: #39c9da;
}

.bg-wall header .logo h1 a span {
  color: white;
}

.bg-wall .hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: center;
  margin-top: 40px;
}

.bg-wall .hero .content-hero {
  margin-bottom: 20px;
}

.bg-wall .hero .content-hero h2 {
  text-transform: uppercase;
  font-size: 22px;
}

.bg-wall .hero .buttom-1 a {
  padding: 10px 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .bg-wall {
    height: auto;
  }

  .bg-wall header {
    padding-top: 20px;
  }

  .bg-wall .hero {
    width: 510px;
      margin: 0 auto;
    margin-top: 120px;
  }

  .bg-wall .hero .content-hero h2 {
    font-size: 33px;
  }

  .bg-wall .hero .buttom-1 {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .bg-wall header {
    padding-top: 40px;
  }

  .bg-wall .hero {
    width: 510px;
    margin: 0 auto;
    margin-top: 170px;
  }

  .bg-wall .hero .content-hero h2 {
    font-size: 33px;
  }

  .bg-wall .hero .buttom-1 {
    margin-bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .bg-wall header {
    padding-top: 40px;
  }

  .bg-wall .hero {
    width: 510px;
    margin: 0 auto;
    margin-top: 210px;
  }

  .bg-wall .hero .content-hero h2 {
    font-size: 33px;
  }

  .bg-wall .hero .buttom-1 {
    margin-bottom: 100px;
  }
}

.about p {
  margin-bottom: 20px;
}

.about a {
  padding: 10px 20px;
}

.content-block {
  margin-top: 30px;
  width: 100%;
  background-color: rgba(237, 239, 241, 0.45); }
  .content-block h2 {
    margin-top: 30px; }
  .content-block p {
    padding: 20px 0; }
  .content-block .bot-header {
    padding-top: 30px; }
  .content-block .learn-button {
    margin: 20px 0; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .content-block {
    margin-top: 60px; }
    .content-block h2 {
      font-size: 35px; }
    .content-block .bot-header {
      padding-top: 60px; }
    .content-block p {
      margin: 0 auto;
      font-size: 15px; }
    .content-block .learn-button {
      padding: 20px 0 0 0; }
      .content-block .learn-button a {
        padding: 7px 35px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-block {
    margin-top: 120px; }
    .content-block h2 {
      font-size: 45px;
      margin-bottom: 30px; }
    .content-block .bot-header {
      padding-top: 120px; }
    .content-block p {
      margin: 0 auto;
      font-size: 15px; }
    .content-block .resp-cont {
      width: 478px;
      margin: 0; }
    .content-block .learn-button {
      padding: 40px 0 0 0; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .content-block {
    margin-top: 230px; }
    .content-block h2 {
      font-size: 60px;
      margin-bottom: 30px; }
    .content-block .bot-header {
      padding-top: 230px; }
    .content-block p {
      margin: 0 auto;
      font-size: 16px; }
    .content-block .resp-cont {
      width: 524px;
      margin: 0; }
    .content-block .learn-button {
      padding: 100px 0 0 0; } }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #39c9da;
}

footer p {
  color: #ffffff;
  margin: 0 auto;
  font-size: 14px;
}

@media (min-width: 992px) {
  footer {
    margin-top: 60px;
  }
}

.contact-us .wrapper .adress-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.contact-us .wrapper .adress-form .contact-info {
  width: 320px;
}

.services {
  margin-top: 30px;
}

.services .text-no-flex h3 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.services .service-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.services .service-block .info-block {
  width: 255px;
  height: 330px;
  margin-top: 20px;
  margin-left: 25px;
}

.services .service-block .info-block:hover {
  background-color: #39c9da;
}

.services .service-block .info-block:hover h4 {
  color: #fff;
}

.services .service-block .info-block:hover .fa {
  color: #fff;
}

.services .service-block .info-block:hover p {
  color: #ffffff;
}

.services .service-block .info-block:hover .grey-buttom {
  background-color: #ffffff;
}

.services .service-block .info-block:hover a {
  color: #000;
}

.services .service-block .info-block .fa {
  padding-top: 25px;
  color: #39c9da;
  font-size: 33px;
}

.services .service-block .info-block h4 {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
}

.services .service-block .info-block h4::after {
  content: '';
  display: block;
  width: 75px;
  height: 2px;
  margin: 15px auto;
  margin-bottom: 30px;
  background-color: #c2c2c2;
}

.services .service-block .info-block p {
  margin-bottom: 30px;
}

.services .service-block .info-block a {
  margin-top: 20px;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .services .service-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .services .service-block .info-block {
    width: 255px;
    height: 350px;
    margin-top: 45px;
  }
}

@media (min-width: 992px) {
  .services {
    margin-top: 50px;
  }

  .services .service-block .info-block {
    height: 320px;
  }
}
