.contact-us
  .wrapper
    .text-no-flex
    .adress-form
      display: flex
      flex-direction: column
      justify-content: space-between
      text-align: center
      .contact-info
        width: 320px
      .form
