body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	position: relative
	margin: 0
	padding: 0
	height: 100%
	min-width: 100%
	line-height: 1.6
	font-family: 'Open Sans', sans-serif
	overflow-x: hidden
	background-color: #fff
h1
	color: #39c9da
h3
	font-size: 20px
	color: #504f50
h2
	font-size: 33px
	color: #fff
p
	font-size: 14px
	color: #a8a8a8
.blue-buttom
	width: 201px
	height: 55px
	background-color: #39c9da
	border-radius: 3px
	color: #fff
	&:hover
		background-color: #323030
		color: #39c9da
		border-radius: 3px
.grey-buttom
	width: 129px
	height: 35px
	background-color: #4b4a4b
	color: white
	border-radius: 1px
	&:hover
	background-color: white
	color: #323030
	border-radius: 1px
.wrapper
	margin: 0 20px


